.w-100 {
  width: 100%; }

.w-90-a {
  width: 90%;
  margin-left: auto;
  margin-right: auto; }

.m-10 {
  margin: 10px; }

.no-link {
  text-decoration: none; }

.clear {
  clear: both; }

.white {
  color: white; }

.pagination {
  height: 40px;
  padding-top: 10px;
  margin-top: 10px;
  float: right; }
  .pagination a {
    color: #3f51b5;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 20px; }
  .pagination .pagination-first {
    border: 1px solid #3f51b5;
    background-color: #3f51b5;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    text-decoration: none; }
  .pagination .pagination-last {
    border: 1px solid #3f51b5;
    background-color: #3f51b5;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    text-decoration: none; }

.search-form {
  margin-bottom: 20px; }

.btn-primary {
  background-color: #3f51b5; }

.modal-footer {
  border-top: none; }

.error-text {
  color: red; }

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto; }

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px; }

.form-signin .checkbox {
  font-weight: normal; }

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px; }

.form-signin .form-control:focus {
  z-index: 2; }

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.mdl-bid-container, .mdl-user-container, .mdl-item-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto; }
  .mdl-bid-container .search-bar, .mdl-user-container .search-bar, .mdl-item-container .search-bar {
    float: right;
    margin-bottom: 20px; }
    .mdl-bid-container .search-bar input, .mdl-user-container .search-bar input, .mdl-item-container .search-bar input {
      height: 40px;
      width: 300px; }

.mdl-setting-container {
  display: flex; }
  .mdl-setting-container .mdl-card {
    width: 50%; }
  .mdl-setting-container .mdl-shadow--4dp {
    -webkit-box-shadow: -2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    padding: 10px; }
  .mdl-setting-container .mdl-card__title {
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 20px; }

.mdl-dashboard-container {
  display: flex; }
  .mdl-dashboard-container .mdl-card {
    width: 50%; }
