<div class="modal-container">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Agregar Dinero</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <form name="addBalanceForm" ng-submit="submitForm(addBalanceForm.$valid)" novalidate>
            <div class="col-md-12">
                <div class="form-group" ng-class="{ 'has-error' : addBalanceForm.amount.$invalid && !addBalanceForm.amount.$pristine}">
                    <label for="id">Dinero</label>
                    <input type="number" class="form-control" name="id" ng-model="form.amount" id="id" ng-required="true"/>
                </div>                
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="submit" ng-disabled="addBalanceForm.$invalid || form.amount==0">Salvar</button>
                <button class="btn btn-warning" type="button" ng-click="close()">Cancelar</button>
            </div>
    </form>
    </div>
</div>