<div class="modal-container">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Añadir nuevo usuario</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <form name="addUserForm" ng-submit="submitForm(addUserForm.$valid)" novalidate>
            <div class="col-md-12">
                <div class="form-group" ng-class="{ 'has-error' : addUserForm.first_name.$invalid && !addUserForm.first_name.$pristine}">
                    <label for="first_name">Nombre</label>
                    <input type="text" class="form-control" name="first_name" ng-model="form.first_name" id="first_name" ng-required="true" ng-minlength="1"/>
                    <p ng-show="addUserForm.first_name.$invalid && !addUserForm.first_name.$pristine" class="help-block text-danger">Nombre es requerido.</p>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : addUserForm.last_name.$invalid && !addUserForm.last_name.$pristine}">
                    <label for="last_name">Apellidos</label>
                    <input type="text" class="form-control" name="last_name" ng-model="form.last_name" id="last_name" ng-required="true" ng-minlength="1"/>
                    <p ng-show="addUserForm.last_name.$invalid && !addUserForm.last_name.$pristine" class="help-block text-danger">Apellidos es requerido.</p>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : addUserForm.phone_number.$invalid && !addUserForm.phone_number.$pristine}">
                    <label for="phone_number">Telefono</label>
                    <input type="number" class="form-control" name="phone_number" ng-model="form.phone_number" id="phone_number" ng-required="true"/>
                    <p ng-show="addUserForm.phone_number.$invalid && !addUserForm.phone_number.$pristine" class="help-block text-danger">Numero de telefono es requerido</p>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : addUserForm.email.$invalid && !addUserForm.email.$pristine}">
                    <label for="email">Correo Electrónico</label>
                    <input type="email" class="form-control" name="email" ng-model="form.email" id="email" ng-required="true" />
                    <p ng-show="addUserForm.email.$invalid && !addUserForm.email.$pristine" class="help-block text-danger">Ingrese un correo electrónico Valido.</p>                    
                </div>
                <div class="form-group" ng-class="{ 'has-error' : addUserForm.password.$invalid && !addUserForm.password.$pristine}">
                    <label for="password">Contraseña</label>
                    <input type="text" class="form-control" name="password" ng-model="form.password" id="password" ng-required="true" ng-model-options="{allowInvalid: true}" pattern-validator="((?=.*\d)(?=.*[A-Z])(?=.*\W).{8,8})" />
                    <!--<p ng-show="addUserForm.password.$invalid && !addUserForm.password.$pristine" class="help-block text-danger">You need a password</p>-->
                    <!--<p ng-show="addUserForm.password.$error.minlength" class="help-block text-danger">Your password must be 8 letters long.</p>-->
                    <p ng-show="addUserForm.password.$error.passwordPattern" class="help-block text-danger">Su contraseña debe contener una mayúscula, símbolo, numero y por lo menos 8 letras o y caracteres.</p>
                </div>
                <div class="form-group">
                    <label>seguridad de la contraseña</label>
                    <password-strength ng-model="form.password"></password-strength>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="submit" ng-disabled="addUserForm.$invalid">Salvar</button>
                <button class="btn btn-warning" type="button" ng-click="close()">Cancelar</button>
            </div>
    </form>
    </div>
</div>