<div class="modal-container">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Reclamación de dinero del proveedor</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <form name="addBalanceForm" ng-submit="submitForm(addBalanceForm.$valid)" novalidate>
            <div class="col-md-12">
                <div class="form-group" ng-class="{ 'has-error' : addBalanceForm.amount.$invalid && !addBalanceForm.amount.$pristine}">
                    <label for="amount">Cantidad reclamada del proveedor</label>
                    <input type="number" class="form-control" name="amount" ng-model="form.amount" id="amount" ng-required="true"/>
                    <p ng-show="addBalanceForm.amount.$invalid && !addBalanceForm.amount.$pristine" class="help-block text-danger">Necesidad Cantidad reclamada del proveedor</p>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="submit" ng-disabled="addBalanceForm.$invalid || form.amount==0">Salvado</button>
                <button class="btn btn-warning" type="button" ng-click="close()">Cancelar</button>
            </div>
    </form>
    </div>
</div>