<div class="mdl-user-container">
    <h2>Usuarios</h2>
    <form class="search-form" novalidate class="simple-form">
      <div class="form-group">
        <label for="id">ID</label>
        <input class="form-control" type="text" id="id" ng-model="form.id" name="id">
      </div>      
      <div class="form-group">
        <label for="email">Correo Electrónico</label>
        <input class="form-control" type="text" id="email" ng-model="form.email" name="email">
      </div>      
      <br/>
      <div class="form-group">
      <label for="phoneNumber">Telefono</label>
      <input class="form-control" type="text" id="phoneNumber" ng-model="form.phone_number" name="phone_number">
      </div>      


      <div class="form-group">
      <label for="firstName">Nombre</label>
      <input class="form-control" type="text" id="firstName" ng-model="form.first_name" name="first_ame">
      </div>
      <br/>

      <div class="form-group">
      <label for="lastName">Apellidos</label>
      <input class="form-control" type="text" id="lastName" ng-model="form.last_name" name="last_name">
      </div>      

      <div class="form-group">
      <label for="group_name">Distribuidor</label>
      <input class="form-control" type="text" id="distributor" ng-model="form.group_name" name="group_name">
      </div>      


      <div class="form-group">
      <label for="status">Estado</label>
      <select name="form.status" class="form-control" ng-model="form.status" ng-change="resync()">
          <option value="">Todas</option>
          <option value="Pending">Pendiente</option>  
          <option value="Active">Activo</option>  
          <option value="Suspend">Suspender</option>  
          <option value="Ban">Prohibición</option>  
        </select>

      </div>      
      <br/>

      <div class="form-group">
      <label for="role">Papel</label>
      <select name="form.role" class="form-control" ng-model="form.role" ng-change="resync()">
          <option value="">Todas</option>
          <option value="Member">Miembro</option>  
          <option value="Vendor">Vendedor</option>  
          <option value="Distributor">Distribuidor</option>  
          <option value="Admin">Administración</option>  
          <option value="System">Sistema</option>  
        </select>    
      </div>      
      <br/>
      <button class="btn btn-default btn-primary"  ng-click="getUsers()">
        Buscar
      </button>
      <br/>  
    </form>
    <div class="pull-right">
        <button class="btn btn-default btn-primary"  ng-click="addUser(false)">Agregar Usuario</button>
        <button class="btn btn-default btn-info"  ng-click="addVendor(true)">Agregar proveedor</button>
        <button class="btn btn-default btn-info"  ng-click="addDistributor()">Agregar Distribuidor</button>
    </div>
    <table class="table table-striped table-hover table-condensed table-responsive">
        <thead>
            <th>ID</th>
            <th>Correo Electrónico</th>
            <th>Nombre</th>
            <th>Papel</th>
            <th>Estado</th>
            <th>Acción</th>
        </thead>
        <tbody>
            <tr ng-repeat="item in items">
                <td>{{item.id}}</td>
                <td>{{item.email}}</td>
                <td>
                  {{item.first_name}}&nbsp;{{item.last_name | limitTo: 1}}
                </td>
                <td>
                    {{roleMapping[item.role]}}
                </td>
                <td>{{mapping[item.status]}}</td> 
                <td>
                    <button class="btn btn-default btn-primary" ng-click="edit(item)">Editar</button>
                    <a class="btn btn-default btn-success" href="#!/userProfile/{{item.id}}">Ver</a>
                    <button class="btn btn-default btn-danger" ng-click="logout(item)">Cerrar sesión</button>
                </td>
            </tr>
        </tbody>
    </table>
    <ul uib-pagination total-items="form.total" ng-model="form.page" ng-change="pageChanged()" items-per-page="form.numItems" force-ellipses="true" 
    previous-text="Anterior" next-text="Siguiente"></ul>
</div>
