<div class="mdl-user-container" ng-if="profile != null">
    <h1>Perfil 
        <button class="btn btn-default btn-danger" ng-click="refund()" ng-if="profile.user.role == 'Member'">Alerta de reembolso de oferta</button>
        <button class="btn btn-default btn-danger" ng-click="moneyOwned()" ng-if="profile.user.role == 'Vendor'">Dinero claro adeudado</button>
        <button class="btn btn-default btn-danger" ng-click="addBalance(profile.user)" >añadir crédito</button>
    </h1>
    <div>
        <label for="ID">ID:</label>
        {{profile.user.id}} 
    </div>
    <div>
        <label for="ID">Nombre:</label>
        {{profile.user.first_name}}
    </div>
    <div>
        <label for="ID">Apellidos:</label>
        {{profile.user.last_name}}
    </div>
    <div>
        <label for="ID">Correo Electrónico:</label>
        {{profile.user.email}}
    </div>
    <div>
        <label for="ID">Telefono #:</label>
        {{profile.user.phone_number}}
    </div>
    <div>
        <label for="ID">Balance :</label>
        {{profile.user.balance}}
    </div>
    <div ng-if="profile.user.status">
        <label for="ID">Estado :</label>
        {{mapping[profile.user.status]}}
    </div>
    <div>
        <label for="ID">Dinero debido :</label>
        {{profile.user.money_owed}}
    </div>
    <div ng-if="profile.user.role">
        <label for="ID">Papel :</label>
        {{roleMapping[profile.user.role]}}
    </div>
    <div>
        <label for="ID">Fecha de registro :</label>
        {{profile.user.created_at | date:'mediumDate':'-5.0'}}
    </div>
    <div>
        <label for="ID">Imagen de perfil:</label><br/>
        <img ng-src="{{profile.user.profile_image}}" style="width: 100px"/>
    </div>
    <br/>
    <br/>
    <h1>Artículos comprados</h1>
    <table class="table table-striped table-hover table-condensed table-responsive">
        <thead>
            <th>ID</th>
            <th>Imagen</th>
            <th>Título</th>
            <th>Tipo</th>
        </thead>
        <tbody>
            <tr ng-repeat="item in profile.items">
                <td>{{item.id}}</td>
                <td><img ng-src="{{item.image}}" style="width: 100px"/></td>
                <td>{{item.title}}</td>
                <td>{{item.type == 'l' ? 'Lotería' : 'Subasta'}}</td>
            </tr>
        </tbody>
    </table>
    <h1>Historia</h1>
    <table class="table table-striped table-hover table-condensed table-responsive">
        <thead>
            <th>Fecha</th>
            <th>Mensaje</th>
        </thead>
        <tbody>
            <tr ng-repeat="history in profile.history">
                <td>{{history.created_at}}</td>
                <td>{{history.message}}</td>
            </tr>
        </tbody>
    </table>
    <h1>Transactions</h1>
    <table class="table table-striped table-hover table-condensed table-responsive">
        <thead>
            <th>ID</th>
            <th>Fecha</th>
            <th>Acción</th>
            <th>Cantidad</th>
            <th>Total antiguo</th>
            <th>Nuevo Total</th>
            <th>Notes</th>
        </thead>
        <tbody>
            <tr ng-repeat="transaction in profile.transactions">
                <td>{{transaction.id}}</td>
                <td>{{transaction.updated_at | date:'mediumDate':'-5.0'}}</td>
                <td>{{transaction.action}}</td>
                <td>{{transaction.amount}}</td>
                <td>{{transaction.userOldTotal}}</td>
                <td>{{transaction.userTotal}}</td>
                <td>{{transaction.notes}}</td>
            </tr>
        </tbody>
    </table>    
</div>