.mdl-bid-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    .search-bar {
        float: right;
        margin-bottom: 20px;
        input {
            height: 40px;
            width: 300px;
        }
        
    }
}