<div class="mdl-bid-container">
    <h4>System Bid Cards</h4>
    <div class="search-bar">
        <input type="text" ng-model="form.code" placeholder="Search Code" ng-model-options="{debounce: { 'default': 1000, 'blur': 0 } }"
        ng-change="updateSearch()"/>
    </div>
    <div class="clear"></div>
    <table class="table table-striped table-hover table-condensed table-responsive">
        <thead>
            <th>Code</th>
            <th>Amount</th>
            <th>Bonus</th>
            <th>User ID</th>
            <th>Status</th>
            <th>Action</th>
        </thead>
        <tbody>
            <tr ng-repeat="item in items">
                <td>{{item.code}}</td>
                <td>{{item.amount}}</td>
                <td>{{item.bonus}}</td>
                <td>{{item.userId}}</td>
                <td>
                    <span ng-if="item.status == 0">Available</span>
                    <span ng-if="item.status == 1">Used</span>
                    <span ng-if="item.status == 2">Revoked</span>
                    </td>
                <td>
                    <button class="btn btn-default btn-danger" ng-if="item.status != 'revoked'" ng-click="revoke(item)">Revoke</button>
                    <button class="btn btn-default btn-primary" ng-if="item.status != 'new'" ng-click="bonus(item)">Change Bonus</button>
                </td>
            </tr>
        </tbody>
    </table>
    <ul uib-pagination total-items="form.total" ng-model="form.page" ng-change="pageChanged()" items-per-page="form.numItem" force-ellipses="true"></ul>
</div>
