<div class="modal-container">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Update Bid Card Bonus</h3>
        </div>        
        <div class="modal-body" id="modal-body">
    <form name="editBidForm">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="subject">Bonus</label>
                    <input type="number" class="form-control" ng-model="form.bonus" id="bonus" required min="0" max="1000000"/>
                    <div class="error-text" ng-show="editBidForm.$invalid && editBidForm.$submitted">Please fill in the new bonus</div>
                </div>               
            </div>
        </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="submit()">Save</button>
            <button class="btn btn-warning" type="button" ng-click="close()">Cancel</button>
        </div>
                
</div>