<div class="modal-container">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Agregar elemento de subasta</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <form name="addAuctionForm" ng-submit="submitForm(addAuctionForm.$valid)" novalidate>
            <div class="col-md-12">
                <div class="form-group" ng-class="{ 'has-error' : addAuctionForm.title.$invalid && !addAuctionForm.title.$pristine}">
                    <label for="title">Título del artículo</label>
                    <input type="text" class="form-control" name="title" ng-model="form.title" id="title" ng-required="true" ng-minlength="1" ng-maxlength="9" maxlength="9"
                    />
                    <p class="help-block">Nota: Máximo de 9 letras</p>
                    <p ng-show="addAuctionForm.title.$error.required" class="help-block text-danger">El título del artículo es obligatorio.</p>
                    <p ng-show="addAuctionForm.title.$error.minlength" class="help-block text-danger">El título del artículo es demasiado corto.</p>
                    <p ng-show="addAuctionForm.title.$error.minlength" class="help-block text-danger">Máximo de 9 letras.</p>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : addAuctionForm.vendor_id.$invalid && !addAuctionForm.vendor_id.$pristine}">
                    <label for="vendor_id">Distribuidor</label>
                    <select name="form.vendor_id" class="form-control" ng-model="form.vendor_id">
                            <!--<option value="">Todas</option>-->
                            <option ng-repeat="oneVendor in vendorList" value="{{oneVendor.value}}">{{oneVendor.key}}</option>  
                            </select>
                    <p class="help-block">Nota: El Distribuidor que el usuario recogerá el premio de</p>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : addAuctionForm.item_worth.$invalid && !addAuctionForm.item_worth.$pristine}">
                    <label for="item_worth">Artículo de la Lotería</label>
                    <input type="number" class="form-control" name="item_worth" ng-model="form.item_worth" id="item_worth" ng-required="true"
                    />
                    <p ng-show="addAuctionForm.item_worth.$invalid && !addAuctionForm.item_worth.$pristine" class="help-block text-danger">El valor de su artículo es requerido.</p>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : addAuctionForm.ticket_amount.$invalid && !addAuctionForm.ticket_amount.$pristine}">
                    <label for="ticket_amount">Cantidad de la alerta de la oferta</label>
                    <input type="number" class="form-control" name="ticket_amount" ng-model="form.ticket_amount" id="ticket_amount" ng-required="true"
                    />
                    <p class="help-block">Nota: Número de alertas de ofertas es el valor del elemento dividido por {{form.ticket_amount}} DOP</p>
                    <p class="help-block" ng-if="form.ticket_amount > 0">Nota: Dado el valor actual del artículo, habrá {{form.item_worth / form.ticket_amount | number : 0}} alertas de ofertas</p>
                    <p ng-show="addAuctionForm.ticket_amount.$invalid && !addAuctionForm.ticket_amount.$pristine" class="help-block text-danger">El valor de su artículo es requerido.</p>
                </div>                
                <div class="form-group" ng-class="{ 'has-error' : addAuctionForm.bid_amount.$invalid && !addAuctionForm.bid_amount.$pristine}">
                    <label for="bid_amount">Monto de la Oferta</label>
                    <input type="number" class="form-control" name="bid_amount" ng-model="form.bid_amount" id="bid_amount" ng-required="true"
                    />
                    <p class="help-block">Nota: Cantidad de la oferta no puede ser menos de 1</p>
                    <p ng-show="addAuctionForm.bid_amount.$invalid && !addAuctionForm.bid_amount.$pristine" class="help-block text-danger">El valor de su artículo es requerido.</p>
                </div>                
                <div class="form-group" ng-class="{ 'has-error' : addAuctionForm.initial_bid.$invalid && !addAuctionForm.initial_bid.$pristine}">
                    <label for="initial_bid">Precio de la Oferta Inicial</label>
                    <input type="number" class="form-control" name="initial_bid" ng-model="form.initial_bid" id="initial_bid" ng-required="true"/>
                    <p ng-show="addAuctionForm.initial_bid.$invalid && !addAuctionForm.initial_bid.$pristine" class="help-block text-danger">Se requiere el precio inicial de la oferta.</p>
                </div>                
                <div class="form-group" ng-class="{ 'has-error' : addAuctionForm.description.$invalid && !addAuctionForm.description.$pristine}">
                    <label for="description">Descripción del Artículo</label>
                    <textarea name="description" rows="10" class="form-control" name="description" ng-model="form.description" id="description" ng-required="true" ng-minlength="1" ng-maxlength="40"></textarea>
                    <p class="help-block">Nota: Máximo 40 letras</p>
                    <p ng-show="addAuctionForm.description.$error.required" class="help-block text-danger">La descripción es obligatoria.</p>
                    <p ng-show="addAuctionForm.description.$error.minlength" class="help-block text-danger">Mínimo 1 letra.</p>
                    <p ng-show="addAuctionForm.description.$error.maxlength" class="help-block text-danger">Máximo 40 letras</p>
                </div>                
                <div class="form-group" ng-class="{ 'has-error' : addAuctionForm.winner_instructions.$invalid && !addAuctionForm.winner_instructions.$pristine}">
                    <label for="winner_instructions">Instrucción ganadora para reclamar el premio</label>
                    <textarea name="winner_instructions" rows="10" class="form-control" name="winner_instructions" ng-model="form.winner_instructions" id="winner_instructions" ng-required="true" ng-minlength="1"></textarea>
                    <p ng-show="addAuctionForm.winner_instructions.required" class="help-block text-danger">Instrucción ganadora es requerida.</p>
                    <p ng-show="addAuctionForm.winner_instructions.$error.minlength" class="help-block text-danger">Mínimo 1 letra.</p>
                </div>         
                <div class="form-group">
                    <label>
                        Tamaño de la ranura del artículo
                    </label><br/><br/>
                    <label>
                        <input type="radio" ng-model="form.size" value="Small">
                        Normal
                    </label><br/>
                    <label>
                        <input type="radio" ng-model="form.size" value="Big">
                        Destacado
                    </label>                
                </div>       
                <div class="form-group">
                    <label for="">Imagen</label>
                    <p class="help-block">Tamaño de la imagen debe ser 120px x 198px</p>
                    <input type="file" name="file" file-model="file"></input>
                </div>
                <div class="form-group">
                    <label for="">Second Imagen</label>
                    <p class="help-block">Tamaño de la imagen debe ser 120px x 198px</p>
                    <input type="file" name="file2" file-model="file2"></input>
                </div>                
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="submit" ng-disabled="addAuctionForm.$invalid || form.vendor_id == 0">Salvar</button>
                <button class="btn btn-warning" type="button" ng-click="close()">Cancelar</button>
            </div>
        </form>
    </div>
</div>