<div class="mdl-item-container">
    <h2>Artículos</h2>
    <form class="search-form" novalidate class="simple-form">
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" ng-model="form.id" placeholder="ID" name="id"><br/>
        </div>
        <div class="form-group">
            <label for="title">Título</label>
            <input type="text" class="form-control" ng-model="form.title" placeholder="" name="title"><br/>
        </div>
        <br/>
        <div class="form-group">
            <label for="initial bid">Oferta inicial</label>
            <input type="number" class="form-control" ng-model="form.initialBid" placeholder="" name="initialBid"><br/>
        </div>
        <div class="form-group">
            <label for="initial bid">Identificación de vendedor</label>
            <input type="number" class="form-control" ng-model="form.vendor_id" placeholder="" name="vendor_id"><br/>
        </div>        
        <div class="form-group">
            <label for="type">Tipo</label>
            <select name="type" class="form-control" ng-model="form.type">
          <option value="">Todas</option>
          <option value="l">Lotería</option>  
          <option value="a">Subasta</option>  
        </select>
        </div>
        <br/>
        <div class="form-group">
            <label for="status">Estado</label>
            <select name="status" class="form-control" ng-model="form.status">
          <option value="">Todas</option>
          <option value="Lost">Sin ganador</option>  
          <option value="Draft">Borrador</option>  
          <option value="Active">Activo</option>   
          <option value="Flash">Destello</option>  
          <option value="Complete">Completar</option>  
          <option value="Claimed">Reclamado</option>  
          <option value="Unlisted">Remoto</option>  
        </select>
        </div>
        <div class="form-group">
            <label for="winCode">Ganar Código</label>
            <input type="text" class="form-control" ng-model="winCode" placeholder="Ganar Código"><br/>
        </div>
        <br/>
        <button class="btn btn-default btn-primary" ng-click="getItems(true)">
        Buscar
      </button>
    </form>
    <div class="pull-right">
        <button class="btn btn-default btn-primary" ng-click="addLottery()">Añadir Lotería</button>
        <button class="btn btn-default btn-success" ng-click="addAuction()">Añadir Subasta</button>
    </div>
    <table class="table table-striped table-hover table-condensed table-responsive">
        <thead>
            <th>ID</th>
            <th>Imagen</th>
            <th>Título</th>
            <th>Tipo</th>
            <th>Entradas necesarias</th>
            <th>Ganador</th>
            <th>Estado</th>
            <th>Acción</th>
        </thead>
        <tbody>
            <tr ng-repeat="item in items">
                <td>{{item.id}}</td>
                <td>
                    <img ng-src="{{item.image}}" style="width:100px"/></td>
<td>{{item.title}}</td>
<td>
    <span ng-if="item.type=='l'">Lotería</span>
    <span ng-if="item.type=='a'">Subasta</span>
</td>
<td>{{item.ticket_total - item.ticket_sold}}</td>
<td>
    <span ng-if="item.winner_id == 0">-</span>
    <span ng-if="item.winner_id > 0">
        <a href="#!/userProfile/{{item.winner_id}}" target="__blank">{{item.winner_id}}</a>
    </span>
</td>
<td>{{mapping[item.status]}}</td>
<td>
    <button class="btn btn-default btn-primary" ng-click="edit(item)">Editar</button>
    <button class="btn btn-default btn-info" ng-click="listItem(item)" ng-if="item.status == 'Draft'">Producto en la lista</button>
    <button class="btn btn-default btn-danger" ng-click="flash(item)" ng-if="item.status == 'Active'">Alerta instantánea ahora</button>
    <a class="btn btn-default btn-success" href="#!/itemsView/{{item.id}}" target="__blank">Ver ítem</a>
    <br/><br/>
    <button ng-if="item.status == 'Complete'" class="btn btn-default btn-warning" ng-click="claimPrizeModal(item)">Reclamar premio</button>
    <button class="btn btn-default btn-success" ng-click="relist(item)">Relíquelo</button>
    <button class="btn btn-default btn-danger" ng-click="endItem(item)">Artículo final</button>
</td>
</tr>
</tbody>
</table>
<ul uib-pagination total-items="form.total" ng-model="form.page" ng-change="pageChanged()" items-per-page="form.numItems"
    force-ellipses="true" previous-text="Anterior" next-text="Siguiente"></ul>
</div>