<div class="mdl-user-container" ng-if="container.item != null">
    <h1>Detalles del Artículo</h1>
    <div>
        <label for="ID">ID:</label>
        {{container.item.id}} 
    </div>
    <div>
        <label for="ID">Imagen:</label><br/>
        <img ng-src="{{container.item.image}}" style="width: 100px"/>
    </div>    
    <div>
        <label for="ID">Second Imagen:</label><br/>
        <img ng-src="{{container.item.image}}" style="width: 100px"/>
    </div>    
    <div>
        <label for="ID">Título del artículo:</label>
        {{container.item.title}}
    </div>
    <div>
        <label for="ID">Descripción del Artículo:</label>
        {{container.item.description}}
    </div>
    <div>
        <label for="ID">Valor del artículo:</label>
        {{container.item.item_worth}}
    </div>
    <div>
        <label for="ID">Cantidad de la alerta de la oferta:</label>
        {{container.item.ticket_amount}} DOP
    </div>
    <div ng-if="container.item.type == 'a'">
        <label for="ID">Monto de la Oferta:</label>
        {{container.item.bid_amount}}
    </div>
    <div>
        <label for="ID">tipo de artículo:</label>
        <span ng-if="container.item.type == 'l'">Lotería</span>
        <span ng-if="container.item.type == 'a'">Subasta</span>
    </div>
    <div>
        <label for="ID">Tamaño de la ranura del artículo:</label>
        <span ng-if="container.item.size == 'Small'">Normal</span>
        <span ng-if="container.item.size == 'Big'">Destacado</span>
    </div>
    <div ng-if="container.item.type == 'a'">
        <label for="ID">Precio de la Oferta Inicial:</label>
        {{container.item.initial_bid}}
    </div>
    <div ng-if="container.item.type == 'a'">
        <label for="ID">Cantidad de puja final:</label>
        {{container.item.final_bid}}
    </div>
    <div>
        <label for="ID">Número total de alertas:</label>
        {{container.item.ticket_total}}
    </div>
    <div>
        <label for="ID">Alerta de puja vendida:</label>
        {{container.item.ticket_sold}}
    </div>    
    <div>
        <label for="ID">Código ganador:</label>
        {{container.item.winner_code}}
    </div>    
    <div>
        <label for="ID">Estado:</label>
        {{container.item.status}}
    </div>    
    <div>
        <label for="ID">Instrucciones del ganador:</label>
        {{container.item.winner_instructions}}
    </div>    
    <div>
        <label for="ID">Estado :</label>
        {{mapping[container.item.status]}}
    </div>
    <div>
        <label for="ID">Fecha de creación :</label>
        {{container.item.created_at | date:'mediumDate':'-5.0'}}
    </div>
    <div>
        <label for="ID">Distribuidor :</label>
        <a href="#!/userProfile/{{container.item.vendor_id}}" target="_blank">{{container.item.vendor_id}}</a>
    </div>
    <div ng-if="container.item.winner_id > 0">
        <label for="ID">Ganador :</label>
        <a href="#!/userProfile/{{container.item.winner_id}}" target="_blank">{{container.item.winner_id}}</a>
    </div>
    <br/>
    <br/>
    <h1>Alertas de ofertas</h1>
    <table class="table table-striped table-hover table-condensed table-responsive">
        <thead>
            <th>identidad de usuario</th>
        </thead>
        <tbody>
            <tr ng-repeat="item in itemUser.items">
                <td><a href="#!/userProfile/{{item.user_id}}" target="_blank">{{item.user_id}}</a></td>
            </tr>
        </tbody>
    </table>    
    <ul uib-pagination total-items="itemUser.total" ng-model="itemUser.page" ng-change="userPageChanged()" items-per-page="itemUser.numItems"
    force-ellipses="true" previous-text="Anterior" next-text="Siguiente"></ul>
    <br/>
    <br/>
    <h1>Ofertas de usuario</h1>
    <table class="table table-striped table-hover table-condensed table-responsive">
        <thead>
            <th>identidad de usuario</th>
            <th>monto de la oferta</th>
        </thead>
        <tbody>
            <tr ng-repeat="bidItem in itemBidders.items">
                <td><a href="#!/userProfile/{{bidItem.user_id}}" target="_blank">{{bidItem.user_id}}</a></td>
                <td>{{bidItem.amount}}</td>
            </tr>
        </tbody>
    </table>    
    <ul uib-pagination total-items="itemBidders.total" ng-model="itemBidders.page" ng-change="bidPageChanged()" items-per-page="itemBidders.numItems"
    force-ellipses="true" previous-text="Anterior" next-text="Siguiente"></ul>    
</div>