.mdl-setting-container {
    display: flex;
    .mdl-card {
        width: 50%;
    }
    .mdl-shadow--4dp {
        -webkit-box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.75);
        box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.75);
        padding: 10px;
    }
    .mdl-card__title {
        border-bottom: 1px solid #e2e2e2;
        margin-bottom: 20px;
    }
}