<div class="modal-container">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Actualizar plantilla de correo electrónico</h3>
        </div>        
        <div class="modal-body" id="modal-body">
    <form name="editEmailForm">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="subject">Tema</label>
                    <input type="text" class="form-control" ng-model="form.subject" id="Subject" required />
                    <div class="error-text" ng-show="editEmailForm.$invalid && editEmailForm.$submitted && form.subject.length < 1">Por favor, rellene un tema</div>
                </div>               

                <div class="form-group">
                    <label for="html">html</label>
                    <textarea class="form-control" ng-model="form.html" id="html" required rows="10"></textarea>
                    <div class="error-text" ng-show="editEmailForm.$invalid && editEmailForm.$submitted && form.html.length < 1">Por favor, rellene el contenido del correo electrónico</div>
                </div>                                      
            </div>
        </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="submit()">Salvar</button>
            <button class="btn btn-warning" type="button" ng-click="close()">Cancelar</button>
        </div>
                
</div>