<div class="modal-container">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Actualizar Pregunta</h3>
        </div>        
        <div class="modal-body" id="modal-body">
    <form name="editQuestionForm">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="question">Pregunta</label>
                    <input type="text" class="form-control" ng-model="form.question" id="question" required />
                    <div class="error-text" ng-show="editQuestionForm.$invalid && editQuestionForm.$submitted && form.question.length < 1">Ingrese una pregunta</div>
                </div>               

                <div class="form-group">
                    <label for="answer">Responder</label>
                    <textarea class="form-control" ng-model="form.answer" id="answer" required rows="10"></textarea>
                    <div class="error-text" ng-show="editQuestionForm.$invalid && editQuestionForm.$submitted && form.answer.length < 1">Ingrese una respuesta</div>
                </div>                                      
            </div>
        </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="submit()">Salvar</button>
            <button class="btn btn-warning" type="button" ng-click="close()">Cancelar</button>
        </div>
                
</div>