<div class="mdl-setting-container">
<div class="mdl-card mdl-shadow--4dp m-10">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Flashbid balance de dinero</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <h6>Ganador</h6>
    <p>{{system.earned}}</p>
    <h6>Reembolso</h6>
    <p>{{system.refunds}}</p>
    <h6>Dinero adeudado del vendedor</h6>
    <p>{{system.money_owed}}</p>
    <h6>Dinero reclamado de los vendedores</h6>
    <p>{{system.money_claimed}}</p>   
  </div>
</div>
<div class="mdl-card mdl-shadow--4dp m-10">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Preguntas más frecuentes</h2>
  </div>
  <div class="mdl-card__supporting-text">
<button class="btn btn-default btn-danger" ng-click="addQuestion()">Añadir pregunta</button>
<br/>
<br/>
<table class="table table-striped table-hover table-condensed table-responsive">
        <thead>
            <th>Pregunta</th>
            <th>Acción</th>
        </thead>
        <tbody>
            <tr ng-repeat="question in questions">
                <td>{{question.question}}</td>
                <td>
                    <button class="btn btn-default btn-primary" ng-click="editQuestion(question)">Editar</button>
                    <button class="btn btn-default btn-danger" ng-click="deleteQuestion(question.id)">Retirar</button>
                </td>
            </tr>
        </tbody>
    </table>

  </div>
</div>
</div>

<div class="mdl-setting-container">
<div class="mdl-shadow--4dp m-10" style="width: 100%;">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Actas</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <form name="transactionForm">
        <label for="Date">Fecha</label>
        <p class="form-group">
          <input type="date" class="form-control" ng-model="form.date" ng-change="resync()"/>
        </p>
      <div class="form-group">
        <label for="Actions">Acción</label><br/>
        <select name="form.action" class="form-control" ng-model="form.action" ng-change="resync()">
          <option value="">Todas</option>  
          <option value="UserBoughtCard">Compró</option>  
          <option value="Refund">Reembolso</option>  
          <option value="Ticket">Alerta de oferta</option>  
          <option value="Auction">Subasta ganada</option>  
          <option value="VendorPaid">Dinero del vendedor recibido</option>  
          <option value="VendorCredit">El proveedor agrega crédito al usuario</option>  
          <option value="AdminCredit">Admin agregar crédito al usuario</option>  
        </select>
      </div>      
      <div class="form-group">
        <label for="Amounts">Cantidad</label>
        <input type="number" class="form-control" ng-model="form.amount" id="Amounts" ng-change="resync()"/>
      </div>      
        <br/>
      <input class="btn btn-default btn-primary" type="submit" value="Buscar" ng-click="getTransactions()"/>
</form>
    <table class="table table-striped table-hover table-condensed table-responsive">
        <thead>
            <th>Fecha</th>
            <th>Acción</th>
            <th>Cantidad</th>
            <!--User get coin added Total -> User-->
            <!--User refund coin added Refund -> User-->
            <!--User submit ticket User -> Flashbid-->
            <!--User bought item User -> Flashbid-->
            <th>Usuario</th>
            <!--<th>User Total</th>-->
            <th>Flashbid</th>
            <!--<th>Flashbid Total</th>-->
            <th>Acción</th>
        </thead>
        <tbody>
            <tr ng-repeat="transaction in transactions">
                <td>{{transaction.created_at | date}}</td>
                <td>{{mapping[transaction.action]}}
                  <span ng-if="transaction.action == 'UserBoughtCard'"><br/>Código:&nbsp;{{transaction.code}}</span>
                </td>
                <td>{{transaction.amount}}</td>
                <td>{{transaction.userOldTotal}} -> {{transaction.userTotal}}</td>
                <!--<td>{{transaction.userTotal}}</td>-->
                <td>{{transaction.systemOldTotal}} -> {{transaction.systemTotal}}</td>
                <!--<td>{{transaction.systemTotal}}</td>-->
                <td>
                    <button class="btn btn-default btn-primary" ng-click="viewTransaction(transaction)">Ver</button>
                </td>
            </tr>
        </tbody>
    </table>
      <ul uib-pagination total-items="form.total" ng-model="form.page" ng-change="pageChanged()" items-per-page="form.numItems" force-ellipses="true"
      previous-text="Anterior"
    next-text="Siguiente"></ul>         
  </div>
  </div>

</div>

<div class="mdl-setting-container">
  <div class="mdl-card mdl-shadow--4dp m-10">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Acerca del texto</h2>
  </div>
  <div class="mdl-card__supporting-text">
        <textarea class="form-control" type="text" rows= "10" ng-model="about.description"></textarea>
        <br/>
      <button class="btn btn-default btn-primary" 
      ng-click="saveAbout()" ng-disabled="about.description.length < 1">
        Salvar
      </button>              
  </div>
</div>

 <div class="mdl-card mdl-shadow--4dp m-10">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Términos y condiciones</h2>
  </div>
  <div class="mdl-card__supporting-text">
        <textarea class="form-control" type="text" rows= "10" ng-model="terms.description"></textarea>
        <br/>
      <button class="btn btn-default btn-primary"  
      ng-click="saveTerms()" ng-disabled="terms.description.length < 1">
        Salvar
      </button>              
  </div>
</div>
</div>


<div class="mdl-setting-container">
  <div class="mdl-card mdl-shadow--4dp m-10">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Plantillas de correo electrónico</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <table class="table table-striped table-hover table-condensed table-responsive">
        <thead>
            <th>Plantilla de correo electrónico</th>
            <th>Tema</th>
            <th>Acción</th>
        </thead>
        <tbody>
            <tr ng-repeat="email in emails">
                <td>{{email.slug}}</td>
                <td>{{email.subject}}</td>
                <td>
                    <button class="btn btn-default btn-primary" ng-click="editEmail(email)">Editar</button>
                </td>
            </tr>
        </tbody>
    </table>        
  </div>
</div>

</div>