<div class="modal-container">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Detalles de la transacción</h3>
        </div>        
        <div class="modal-body" id="modal-body">
            <div class="col-md-12">
                <div class="col-md-6">
                    <h3>Fecha</h3>
                    <p>{{transaction.updated_at | date:'mediumDate':'-5.0'}}</p>
                </div>
                <div class="col-md-6">
                    <h3>Acción</h3>
                    <p>{{transaction.action}}</p>
                </div>
                <div class="col-md-6">
                    <h3>Transacción de usuario</h3>
                    <p><b>Usuario Total:</b>&nbsp;{{transaction.userOldTotal}}</p>            
                    <p><b>Total de usuarios:</b>&nbsp;{{transaction.userTotal}}</p>
                </div>
                <div class="col-md-6">
                    <h3>Transacción del sistema</h3>
                    <p><b>Sistema Antiguo Total:</b>&nbsp;{{transaction.systemOldTotal}}</p>            
                    <p><b>Total del sistema:</b>&nbsp;{{transaction.systemTotal}}</p>
                </div>
                <div class="col-md-12">
                    <h3>Notas</h3>
                    <div>{{transaction.notes}}</div>
                </div>
            </div>         
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" type="button" ng-click="close()">Cancelar</button>
        </div>
                
</div>