<div class="container">

      <form class="form-signin"
      name="loginForm" ng-submit="submitForm(loginForm.$valid)" novalidate>
        <img src="https://s3.amazonaws.com/images.flashbid/FBLOGO.png" class="img-responsive" alt="">
        <h2 class="form-signin-heading text-center">Admin Login</h2>   
        <label for="inputEmail" class="sr-only">Correo Electrónico</label>   
        <input type="email" id="inputEmail" class="form-control" placeholder="Correo Electrónico" name="email" ng-model="form.email" ng-required="true"
        ng-class="{ 'has-error' : loginForm.email.$invalid && !loginForm.email.$pristine}"
        />
        <p ng-show="loginForm.email.$invalid && !loginForm.email.$pristine" class="help-block text-danger">Introduzca un correo electrónico válido.</p>

        <label for="inputPassword" class="sr-only">Contraseña</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" ng-required="true"
          ng-class="{ 'has-error' : loginForm.password.$invalid && !loginForm.password.$pristine}"
          ng-model-options="{allowInvalid: true}" pattern-validator="((?=.*\d)(?=.*[A-Z])(?=.*\W).{8,8})" 
          ng-model="form.password"
          name="password"
        />
        <p ng-show="loginForm.password.$error.passwordPattern" class="help-block text-danger">Su contraseña debe contener una mayúscula, símbolo, numero y por lo menos 8 letras o y caracteres.</p>
        <button class="btn btn-lg btn-primary btn-block" type="submit" type="submit" ng-disabled="loginForm.$invalid">Registrarse</button>
      </form>

    </div> <!-- /container -->