<div class="dashboard-container">

<table class="table table-striped table-hover table-condensed table-responsive">
        <thead>
            <th>ID</th>
            <th>Imagen</th>
            <th>Título</th>
            <th>Tipo</th>
            <th>Entradas necesarias</th>
            <th>Ganador</th>
            <th>Estado</th>
        </thead>
        <tbody>
            <tr ng-repeat="item in items">
                <td>{{item.id}}</td>
                <td><img ng-src="{{item.image}}" style="width:100px"/></td>
                <td>{{item.title}}</td>
                <td>
                    <span ng-if="item.type=='l'">Lotería</span>
                    <span ng-if="item.type=='a'">Subasta</span>
                </td>
                <td>{{item.ticket_total - item.ticket_sold}}</td>
                <td>
                    <span ng-if="item.winner_id == 0">-</span>
                    <span ng-if="item.winner_id > 0">{{item.winner_id}}</span>
                </td>
                <td>{{mapping[item.status]}}</td>
            </tr>
        </tbody>
    </table>
    <ul uib-pagination total-items="form.total" ng-model="form.page" ng-change="pageChanged()" items-per-page="form.numItems" force-ellipses="true" 
    previous-text="Anterior" next-text="Siguiente"></ul>
</div>