$theme-blue: #3f51b5;
body {
    // background-color: #e2e2e2; 
}

.w-100 {
    width: 100%;
}

.w-90-a {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.m-10 {
    margin: 10px;
}

.no-link {
    text-decoration: none;
}

.clear {
    clear: both;
}

.white {
    color: white;
}

.pagination {
    height: 40px;
    padding-top: 10px;
    margin-top: 10px;
    float: right;
    a {
        color: $theme-blue;
        text-decoration: none;
        padding: 10px 20px;
        font-size: 20px;        
    }

    .pagination-first {
        border: 1px solid $theme-blue;
        background-color: $theme-blue;
        color: white;
        padding: 10px 20px;
        margin-top: 10px;
        text-decoration: none;        
    }

    .pagination-last {
        border: 1px solid $theme-blue;
        background-color: $theme-blue;
        color: white;
        padding: 10px 20px;
        margin-top: 10px;
        text-decoration: none;
    }
}

.search-form {
    margin-bottom: 20px;
}

.btn-primary {
    background-color: $theme-blue;
}

.modal-footer {
    border-top: none;
}

.error-text {
    color: red;
}

.ng-valid       {  }
input.ng-invalid     {  

}
.ng-pristine    {  }
.ng-dirty       {  }
.ng-touched     {  }